{% extends "layout.nunjucks" %} {% block title %} Vue d’ensemble de la LMA | Vyxeos {% endblock %} {% block content %}

<style>

</style>

<main>
  <section id="intro">
    <div class="container">
      <div class="row">
        <div class="col-12">
            <h1 class="mt-3 mb-3">LES RÉSULTATS SONT PARTICULIÈREMENT DÉFAVORABLES POUR
LES PATIENTS ATTEINTS DE LMAs</h1>
            <h2 class="mt-3 mb-3">LA LMA-t ET LA LMA-CM SONT DES SOUS-TYPES DE LMA SECONDAIRE (LMAs) À HAUT RISQUE<sup>1</sup></h2>
        </div>
      </div>
    
      <div class="row">
        <div class="col-12 col-xl-8">
          <img src="/assets/img/fr/graphic_aml_types.png" alt="Pourcentage de personnes atteintes d’une LMA-t et d’une LMA-CLM" class="img-fluid mt-3 mb-3">
        </div>

        <div class="col-12 col-xl-4">
          <div class="callout-purple text-center">
            <h3 class="mb-3">Classification de l’OMS
des sous-types de LMA à
haut risque</h3>
            <a href="/fr/classification.html" class="btn btn-md btn-callout mt-3">
              En savoir plus
            </a>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-12">
          <p class="footnote mb-2">
            LMA-t : LMA secondaire à un traitement.
          </p>
          <p class="footnote mb-2">
           LMA-CM : LMA avec caractéristiques myélodysplasiques.
          </p>
          <p class="footnote">
            <strong>Références :</strong> 
            <strong>1.</strong> Granfeldt Østgård LS, Medeiros BC, Sengeløv H <em>et al</em>. Epidemiology and clinical significance of secondary and therapy-related acute myeloid leukemia: A national
population-based cohort study. <em>J Clin Oncol</em> 2015;33:3641-9. 
<strong>2.</strong> Nagel G, Weber D, Fromm E <em>et al</em>. Epidemiological, genetic, and clinical characterization by age of newly diagnosed acute
myeloid leukemia based on an academic population-based registry study (AMLSG BiO). <em>Ann Hematol</em> 2017;96:1993-2003.
          </p>
        </div>
      </div>

    </div>
  </section>
</main>
{% endblock %}

<!-- <div class="col-6 yellow-box p-4">
                                <div class="row">
                                    <div class="col-10">
                                        <p class="text-center">
                                            Relieved four of the most common VKC symptoms (photophobia, tearing, itching and mucous discharge) from as early as Month 1
                                        </p>
                                    </div>
                                    <div class="col-2">
                                        <img src="/assets/img/icon_eye_drop.png" alt="Icon - Eye Drop">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 yellow-box p-4">
                                <div class="row">
                                    <div class="col-10">
                                        <p class="text-center">
                                            Reduced keratitis<br>
                                            (inflammation of the cornea)
                                        </p>
                                    </div>
                                    <div class="col-2">
                                        <img src="/assets/img/icon_eye.png" alt="Icon - Eye">
                                    </div>
                                </div>
                            </div>
                        </row>

                        <div class="row">
                            <div class="col-6 yellow-box p-4">
                                <div class="row">
                                    <div class="col-10">
                                        <p class="text-center">
                                            Reduced the need for topical corticosteroid rescue therapy
                                        </p>
                                    </div>
                                    <div class="col-2">
                                        <img src="/assets/img/icon_eye_erase.png" alt="Icon - Eye Erase">
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 yellow-boxp-4">
                                <div class="row">
                                    <div class="col-10">
                                        <p class="text-center">
                                            Improved patient quality of life
                                        </p>
                                    </div>
                                    <div class="col-2">
                                        <img src="/assets/img/icon_medication.png" alt="Icon - Medication">
                                    </div>
                                </div>
                            </div>
                        </row>
                    </div>
                </div> -->
