/*
 Google Fonts https://fonts.google.com/share?selection.family=Mulish:ital,wght@0,600;0,700;1,600;1,700%7COpen%20Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800
     font-family: 'Mulish', sans-serif;

    font-family: 'Open Sans', sans-serif;
*/
.row {
  margin-left: 0;
  margin-right: 0;
}

body {
  background: #f1f1f1;
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish", sans-serif;
}

.eyebrow {
  background: #c8c8c8;
  color: #bebebe;
  padding: 5px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 425px;
}

.eyebrow a {
  color: #3c3c3c;
  text-transform: uppercase;
  font-size: 10px;
}

.navbar.bg-transparent {
  background: 0;
}

.header-lang {
  padding: 0.25rem 0.75rem;
}

.vyxeos-logo {
  width: 211px;
}

/*.navbar-vyxeos .navbar-toggler-icon {
  color: #5D1467;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  font-size: 3rem;
}*/
.navbar-vyxeos .navbar-toggler {
  font-size: 3rem;
}
.navbar-vyxeos .navbar-nav .nav-link {
  color: #5d1467;
  font-weight: bold;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .navbar-vyxeos .navbar-nav .nav-link {
    text-align: center;
  }
}

.navbar-vyxeos .navbar-nav .dropdown-item {
  color: #5d1467;
  font-weight: bold;
  font-size: 14px;
}
.navbar-french .nav-link {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.icon-pdf {
  height: 10px;
  display: inline;
}
.left-border {
  border-left: 2px solid white;
}

.header-link {
  color: #4d4d4d;
  font-size: 10px;
  margin-left: -5px;
  line-height: 10px;
  white-space: nowrap;
}

.img-nav {
  border: 1px solid green;
}

/* .second-header-link {
  white-space: nowrap;
} */

@media (min-width: 1200px) {
  .header-nav-block {
    /* border: 1px solid blue; */
    min-width: 1000px;
    padding-left: 0 !important;
  }
}

.header-language-block {
  min-width: 120px;
  /* border: 1px solid red; */
}
.header-other-block {
  min-width: 160px;
  /* border: 1px solid red; */
  /* padding-left: 0 !important; */
}

.btn-outline-language {
  color: #4d4d4d;
  border: 1px solid #d2d2d2;
  border-radius: 10px;
}

h1,
h2,
h4 {
  color: #72267a;
  font-weight: 900;
}
h1 {
  font-weight: 900;
}
.purple {
  color: #72267a;
}

.img-graphic {
  margin-top: 2rem !important;
  margin-bottom: 3rem !important;
}

@media (min-width: 1200px) {
  .img-graphic {
    width: 75%;

    margin-top: 2rem !important;
    margin-bottom: 3rem !important;
    margin-left: 1rem !important;
  }
}

p.footnote:first-of-type {
  margin-top: 10vh;
}

.callout-purple {
  background: #5d1467;
  border-radius: 20px;
  color: white;
  padding: 20px;
}
.callout-purple p {
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.callout-white {
  background: white;
  border-radius: 20px;
  color: black;
  padding: 20px;
}

.callout-purple .btn-callout {
  background: white;
  border-color: white;
  border-radius: 20px;
  color: #5d1467;
}

.btn-callout {
  color: white;
  font-weight: bold;
  background-color: #6d267a;
}

.btn-callout:hover {
  color: #cacaca;
}

.modal-gray .modal-dialog {
  max-width: 95%;
}

@media (min-width: 1200px) {
  .modal-gray .modal-dialog {
    max-width: 1000px;
  }
}

@media (min-width: 1200px) {
  .white-border-bottom-mobile {
    border-bottom: none;
  }
  .white-border-bottom-desktop {
    border-bottom: 2px solid white;
  }
}
@media (max-width: 1200px) {
  .white-border-bottom-mobile {
    border-bottom: 2px solid white;
  }
  .white-border-bottom-desktop {
    border-bottom: none;
  }
}
.modal-backdrop {
  background-color: #fff;
}

.modal-gray .modal-content {
  background-color: #dbdbdb;
  border-top-right-radius: 0rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.modal-gray .modal-header {
  border-bottom: none;
}

.modal-gray .modal-title {
  color: #72267a;
  font-weight: bold;
  margin-left: 2rem;
  max-width: 80%;
}
.btn-grey-outline {
  outline: solid 10px #cacaca;
}

.modal-gray .close {
  color: #72267a;
  font-weight: bold;
}

.btn-outline-purple {
  color: #8d267e;
  border-color: #8d267e;
  border-radius: 25px;
}

.scroll-callout {
  background-color: white;
  color: #8d267e;
  height: 50px;
  border-radius: 25px;
}
.btn-round {
  border-radius: 25px;
}
.scroll-callout .icon {
  height: 50px;
}
.scroll-callout p {
  padding-top: 15px;
  font-size: 12px;
}

.img-holder {
  overflow-x: auto;
  overflow-y: visible;
}

.img {
  max-width: 1094px;
}

.figure-caption-black {
  color: black;
}
.gray-background {
  background: #f1f1f1;
}
.footnote {
  font-size: 12px;
}

.footer {
  border-top: 2px solid #bebebe;
}

.footer .img-logo {
  max-height: 100px;
  padding: 20px;
  display: inline-block;
}

.footer .img-logo-mobile {
  max-height: 50px;
  padding: 10px;
  display: inline-block;
}
