
<div class=" gray-background">
<div class="container">
    <footer class="footer pt-4">
        <div class="row d-none d-xl-flex">
            <div class="col-5">
                <p class="footnote">
                    VYXEOS<sup>&reg;</sup> is a registered trademark of Celator Pharmaceuticals, Inc. (a Jazz Pharmaceuticals subsidiary).
                </p>
                <p class="footnote">
                    &copy;2021 Jazz Pharmaceuticals, Inc. All rights reserved. CA-VYX-2100023
                </p>
            </div>
            <div class="col-7 text-right">
                <img src="/assets/img/logo_jazz_pharma.png" alt="Logo - Jazz Pharmaceuticals" class="img-logo">
                <img src="/assets/img/en/logo_vyxeos_header.png" alt="Logo - Vyxeos" class="img-logo">
            </div>
        </div>
        <div class="row  d-xl-none">
            <div class="col text-left">
                <img src="/assets/img/logo_jazz_pharma.png" alt="Logo - Jazz Pharmaceuticals" class="img-logo-mobile">
            
            </div>
            
            <div class="col text-right">
                <img src="/assets/img/en/logo_vyxeos_header.png" alt="Logo - Vyxeos" class="img-logo-mobile">
            </div>
        </div>
        <div class ="row d-xl-none">
            <div class="col">
             <p class="footnote">
                    VYXEOS<sup>&reg;</sup> is a registered trademark of Celator Pharmaceuticals, Inc. (a Jazz Pharmaceuticals subsidiary).
                </p>
                <p class="footnote">
                    &copy;2021 Jazz Pharmaceuticals, Inc. All rights reserved. <br /> CA-VYX-2100023
                </p>
            </div>
        </div>
    </footer>
</div>

</div>
